# ASSIGNMENT CONFIG
init_cell: true 
export_cell: true 
files:
    - world_population.csv
    - array_diff.png
    - array_cumsum.png
    - temperatures.csv
    - old_faithful.csv
    - inventory.csv
    - sales.csv
    - president_births.csv
    - d8error.py
    - errorConfig.json
export_cell:
    pdf: false
    force_save: false
solutions_pdf: true
template_pdf: false
generate:
    points_possible: 100.0
    show_stdout: true
    filtering: true
    pagebreaks: true
    zips: false

# Homework 2: Arrays and Tables

Please complete this notebook by filling in the cells provided. Before you begin, execute the previous cell to load the provided tests.

In [94]:
# Run this cell and ignore the output. It is checking to see if you ran the first cell! 
# If you get a NameError, please run the cell at the very TOP of this notebook!

#grader

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in Data 8!

**Recommended Readings:**
- [Arrays](https://inferentialthinking.com/chapters/05/1/Arrays.html)
- [What is Data Science?](http://www.inferentialthinking.com/chapters/01/what-is-data-science.html)
- [Causality and Experiments](http://www.inferentialthinking.com/chapters/02/causality-and-experiments.html) 
- [Programming in Python](http://www.inferentialthinking.com/chapters/03/programming-in-python.html)

For all problems that you must write explanations and sentences for, you **must** provide your answer in the designated space. Moreover, throughout this homework and all future ones, **please be sure to not re-assign variables throughout the notebook!** For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Otherwise, you will fail tests that you thought you were passing previously!


**Note: This homework has hidden tests on it. That means even though tests may say 100% passed, it doesn't mean your final grade will be 100%. We will be running more tests for correctness once everyone turns in the homework.**

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. Refer to the policies page to learn more about how to learn cooperatively.

You should start early so that you have time to get help if you're stuck.

## 1. Creating Arrays

In [95]:
# Run this cell to set up the notebook, but please don't change it.

import numpy as np
from datascience import *
import d8error
import warnings
warnings.simplefilter('ignore', FutureWarning)

# BEGIN QUESTION
name: q1_1
points:
 - 0
 - 0
 - 4

**Question 1.** Create an array called `strange_numbers` containing the following numbers (in the given order) **(4 Points)**:

1. `pi`
2. the floor of 25
3. the floor of `pi`
4. 10 plus the ceil of 8.3

*Hint:* `floor`, `ceil`, and `pi`  are functions in the `math` module. Importing modules is covered in Lab 2!

*Note:* Python lists are different/behave differently than NumPy arrays. In Math118, we use NumPy arrays, so please make an **array**, not a Python list.

# BEGIN SOLUTION

In [96]:
# Our solution involved one extra line of code before creating
# strange_numbers.
import math #SOLUTION
strange_numbers = make_array(math.pi, math.floor(25), math.floor(math.pi), 10 + math.ceil(8.3)) #SOLUTION
strange_numbers

array([  3.14159265,  25.        ,   3.        ,  19.        ])

# END SOLUTION

# BEGIN TESTS

In [97]:
import numpy as np
# It looks like you didn't make an array.
type(strange_numbers) == np.ndarray

True

In [98]:
len(strange_numbers) == 4

True

In [99]:
# HIDDEN
np.allclose(strange_numbers, np.array([   3.14159265,    25,     3, 19]), rtol=1e-03, atol=1e-03)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q1_2
points:
 - 0
 - 0
 - 0
 - 0
 - 4

**Question 2.** Make an array called `anime_characters` containing the following three strings: "Naruto", "Sasuke", and "and Sakura". **(4 Points)**

# BEGIN SOLUTION

In [100]:
anime_characters = make_array("Naruto", "Sasuke", "and Sakura") #SOLUTION
anime_characters

array(['Naruto', 'Sasuke', 'and Sakura'],
      dtype='<U10')

# END SOLUTION

# BEGIN TESTS

In [101]:
import numpy as np
# It looks like you didn't make an array.
type(anime_characters) == np.ndarray

True

In [102]:
# It looks like you included commas in the text.
# The three pieces of text in the array should be:
#   "Naruto"
#   "Sasuke"
#   "and Sakura"
not any([',' in text for text in anime_characters])

True

In [103]:
# It looks like you didn't include both words in the
# last piece of text.  It should be the actual string:
#   "and Sakura"
'and ' in anime_characters.item(2)

True

In [104]:
len(anime_characters)

3

In [105]:
anime_characters.item(0) == 'Naruto' and anime_characters.item(1) == 'Sasuke' and anime_characters.item(2) == 'and Sakura'

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q1_3
points:
 - 2
 - 2

Strings have a method called `join`.  `join` takes one argument, an array of strings.  It returns a single string.  Specifically, the value of `a_string.join(an_array)` is a single string that's the [concatenation](https://en.wikipedia.org/wiki/Concatenation) ("putting together") of all the strings in `an_array`, **except** `a_string` is inserted in between each string.

**Question 3.** Use the array `anime_characters` and the method `join` to make two strings **(4 Points)**:

1. "Naruto, Sasuke, and Sakura" (call this one `with_commas`)
2. "Naruto Sasuke and Sakura" (call this one `without_commas`)

*Hint:* If you're not sure what `join` does, first try just calling, for example, `"math118".join(anime_characters)` .

# BEGIN SOLUTION

In [106]:
with_commas = ", ".join(anime_characters) #SOLUTION
without_commas = " ".join(anime_characters) #SOLUTION

# These lines are provided just to print out your answers.
print('with_commas:', with_commas)
print('without_commas:', without_commas)

with_commas: Naruto, Sasuke, and Sakura
without_commas: Naruto Sasuke and Sakura

# END SOLUTION

# BEGIN TESTS

In [107]:
with_commas == 'Naruto, Sasuke, and Sakura'

True

In [108]:
without_commas == 'Naruto Sasuke and Sakura'

True

# END TESTS

# END QUESTION

## 2. Indexing Arrays

These exercises give you practice accessing individual elements of arrays.  In Python (and in many programming languages), each element is accessed by its *index*; for example, the first element is the element at index 0. Indices must be **integers**.

***Note:* If you have previous coding experience, you may be familiar with bracket notation. DO NOT use bracket notation when indexing (i.e. `arr[0]`), as this can yield different data type outputs than what we will be expecting. This can cause you to fail an autograder test.**

Be sure to refer to the [Python Reference](http://data8.org/sp22/python-reference.html) on the website if you feel stuck!

# BEGIN QUESTION
name: q2_1
points:
 - 0
 - 4

**Question 1.** The cell below creates an array of some numbers.  Set `fourth_element` to the third element of `random_numbers`. **(4 Points)**

# BEGIN SOLUTION

In [109]:
random_numbers = make_array(-2, -4, -6, -10, -16)

fourth_element = random_numbers.item(2) #SOLUTION
fourth_element

-6

# END SOLUTION

# BEGIN TESTS

In [110]:
# It looks like you wrote:
#   some_numbers.item(3)
# But the fourth element has index 3, not 4.
fourth_element != -6

False

In [111]:
fourth_element == -10

False

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2_2
points:
 - 1
 - 1
 - 1
 - 1

**Question 2.** The next cell creates a table that displays some information about the elements of `random_numbers` and their order.  Run the cell to see the partially-completed table, then fill in the missing information (the cells that say "Ellipsis") by assigning `blank_a`, `blank_b`, `blank_c`, and `blank_d` to the correct elements in the table. **(4 Points)**

*Hint:* Replace the `...` with strings or numbers. As a reminder, indices should be **integers**.

# BEGIN SOLUTION

In [112]:
blank_a = "first" #SOLUTION
blank_b = "fifth" #SOLUTION
blank_c = 0 #SOLUTION
blank_d = 4 #SOLUTION
elements_of_random_numbers = Table().with_columns(
    "English name for position", make_array(blank_a, "second", "third", "fourth", blank_b),
    "Index",                     make_array(blank_c, 1, 2, 3, blank_d),
    "Element",                   random_numbers)
elements_of_random_numbers

English name for position | Index | Element
first                     | 0     | -2
second                    | 1     | -4
third                     | 2     | -6
fourth                    | 3     | -10
fifth                     | 4     | -16

# END SOLUTION

# BEGIN TESTS

In [113]:
elements_of_random_numbers.column(0).item(2) == "third"

True

In [114]:
elements_of_random_numbers.column(0).item(3) == "fourth"

True

In [115]:
elements_of_random_numbers.column(1).item(0) == 0

True

In [116]:
elements_of_random_numbers.column(1).item(3) == 3

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2_3
points:
 - 4

**Question 3.** You'll sometimes want to find the **last** element of an array.  Suppose an array has 200 elements.  What is the index of its last element? **(4 Points)**

# BEGIN SOLUTION

In [117]:
index_of_last_element = 200 - 1 # (or just 199) #SOLUTION

# END SOLUTION

# BEGIN TESTS

In [118]:
index_of_last_element == 199

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2_4
points:
 - 4

More often, you don't know the number of elements in an array, its *length*.  (For example, it might be a large dataset you found on the Internet.)  The function `len` takes a single argument, an array, and returns an integer that represents the `len`gth of that array.

**Question 4.** The cell below loads an array called `world_population_years`.  Calling `tbl.column(...)` on a table returns an array of the column specified, in this case the `Year` column of the `world_population_years` table. The last element in that array is the most recent years  of all the world population. Assign the **second most** recent year to `second_most_recent_population_year`. **(4 Points)**

# BEGIN SOLUTION

In [119]:
world_population_years = Table.read_table("world_population.csv").column('Year')

second_most_recent_population_year= world_population_years.item(len(world_population_years)-2) #SOLUTION
second_most_recent_population_year

2014

# END SOLUTION

# BEGIN TESTS

In [120]:
second_most_recent_population_year == 2014

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q2_5
points:
 - 0
 - 4

**Question 5.** Finally, assign `min_of_population_years` to the minimum of the first, eighth, and last population years listed in `world_population_years`. **(4 Points)**

# BEGIN SOLUTION

In [121]:
min_of_population_years = min(make_array(world_population_years.item(0), world_population_years.item(7), world_population_years.item(len(world_population_years) - 1))) #SOLUTION
min_of_population_years

1950

# END SOLUTION

# BEGIN TESTS

In [122]:
min_of_population_years > 0

True

In [123]:
# HIDDEN
min_of_population_years == 1950

True

# END TESTS

# END QUESTION

## 3. Basic Array Arithmetic

# BEGIN QUESTION
name: q3_1
points:
 - 0
 - 4

**Question 1.** Divide the numbers 50, -505, 505050505, and 250 by 10. Assign each variable below such that `first_division` is assigned to the result of $50 // 10$, `second_division` is assigned to the result of $-505 // 10$, and so on. **(4 Points)**

*Note*: For this question, **don't** use arrays.

*Note*: Use the double slash operator `//` for this entire question. This operator `//` performs floor division by dividing the first number by the second number and rounding down the result to the nearest integer (whole number).

# BEGIN SOLUTION

In [124]:
first_division = 50 // 10 #SOLUTION
second_division = -505 // 10 #SOLUTION
third_division = 505050505 // 10 #SOLUTION
fourth_division = 250 // 10 #SOLUTION
print("First Division:", first_division)
print("Second Division:", second_division)
print("Third Division:", third_division)
print("Fourth Division:", fourth_division)

First Division: 5
Second Division: -51
Third Division: 50505050
Fourth Division: 25

# END SOLUTION

# BEGIN TESTS

In [125]:
first_division > 0, second_division < 0, third_division > 0, fourth_division > 0

(True, True, True, True)

In [126]:
# HIDDEN
np.allclose([first_division, second_division, third_division, fourth_division], \
            np.array([5, -51, 50505050, 25]))

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3_2
points:
 - 0
 - 4

**Question 2.** Now, do the same calculation, but using an array called `digits` and only a single division n (`//`) operator.  Store the 4 results in an array named `divisions`. **(4 Points)**

# BEGIN SOLUTION

In [127]:
digits = make_array(50, -505, 505050505, 250) #SOLUTION
divisions = digits // 10 #SOLUTION
divisions

array([       5,      -51, 50505050,       25])

# END SOLUTION

# BEGIN TESTS

In [128]:
# products should be an array!
len(divisions) == 4

True

In [129]:
# HIDDEN
np.allclose(divisions, np.array([5, -51, 50505050, 25]))

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3_3
points:
 - 0
 - 4

**Question 3.** Darn it, we made a mistake!  Instead of 10, we wanted to divide each number by 5.  Compute the correct divisions in the cell below using array arithmetic.  Notice that your job is really easy if you previously defined an array containing the 4 numbers. **(4 Points)**

Note! use `//`.

# BEGIN SOLUTION

In [130]:
correct_division = digits // 5  # SOLUTION
correct_division

array([       10,      -101, 101010101,        50])

# END SOLUTION

# BEGIN TESTS

In [131]:
len(correct_division) == 4

True

In [132]:
# HIDDEN
np.allclose(correct_division, np.array([10, -101, 101010101, 50]))

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3_4
points:
 - 1
 - 1
 - 1
 - 1

**Question 4.** We've loaded an array of temperatures in the next cell.  Each number is the highest temperature observed on a day at a climate observation station, mostly from the US.  Since they're from the US government agency [NOAA](https://www.noaa.gov/), all the temperatures are in Fahrenheit.

Convert all the temperatures to Kelvin by first subtracting 32 from them, then multiplying the results by $\frac{5}{9}$, then adding 273.15 ie. Here is the formula $K = (F - 32) * \frac{5}{9} + 273.15$. After converting the temperatures to Kelvin, make sure to **ROUND** the final result  to the nearest integer using the `np.round` function. **(4 Points)**

# BEGIN SOLUTION

In [133]:
min_temperatures = Table.read_table("temperatures.csv").column("Daily Min Temperature")

kelvin_min_temperatures = np.round((min_temperatures - 32) * 5/9 + 273.15) #SOLUTION
kelvin_min_temperatures

array([ 263.,  294.,  293., ...,  273.,  284.,  278.])

# END SOLUTION

# BEGIN TESTS

In [134]:
# It looks like you multiplied and subtracted in the wrong
# order.
sum(kelvin_min_temperatures) != 356705.0

True

In [135]:
sum(kelvin_min_temperatures)

18264353.0

In [136]:
len(kelvin_min_temperatures)

65000

In [137]:
kelvin_min_temperatures.item(2003)

290.0

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3_5
points:
 - 0
 - 4
 - 0

**Question 5.** The cell below loads all the *maximum* temperatures from each day (in Fahrenheit).  Compute the daily temperature range for each day. That is, compute the difference between each daily maximum temperature and the corresponding daily minimum temperature.  **Pay attention to the units and give your answer in Kelvin!** Make sure **NOT** to round your answer for this question! **(4 Points)**

*Note:* Remember that in Question 4, `kelvin_min_temperatures` was rounded, so you might not want to use that variable in this question.

# BEGIN SOLUTION

In [138]:
max_temperatures = Table.read_table("temperatures.csv").column("Daily Max Temperature")

kelvin_temperature_ranges = ((max_temperatures - 32) * 5/9 + 273.15)  - ((min_temperatures - 32) * 5/9 + 273.15)  #SOLUTION
kelvin_temperature_ranges

array([  6.66666667,  10.        ,  12.22222222, ...,  17.22222222,
        11.66666667,  11.11111111])

# END SOLUTION

# BEGIN TESTS

In [92]:
# kelvin_temperature_ranges should be an array
type(kelvin_temperature_ranges) is np.ndarray

True

In [139]:
sum(kelvin_temperature_ranges)

768486.66666666628

In [148]:
np.isclose(round(sum(kelvin_temperature_ranges)), 768486.67)

True

In [149]:
len(kelvin_temperature_ranges)

65000

# END TESTS

# END QUESTION

## 4. Old Faithful

Old Faithful is a geyser in Yellowstone that erupts every 44 to 125 minutes (according to [Wikipedia](https://en.wikipedia.org/wiki/Old_Faithful)). People are [often told that the geyser erupts every hour](http://yellowstone.net/geysers/old-faithful/), but in fact the waiting time between eruptions is more variable. Let's take a look.

# BEGIN QUESTION
name: q4_1
points:
 - 0
 - 0
 - 2
 - 2

**Question 1.** The first line below assigns `waiting_times` to an array of 272 consecutive waiting times between eruptions, taken from a classic 1938 dataset. Assign the names `shortest`, `longest`, and `average` so that the `print` statement is correct. **(4 Points)**

# BEGIN SOLUTION

In [151]:
waiting_times = Table.read_table('old_faithful.csv').column('waiting')
waiting_times

shortest = min(waiting_times) # SOLUTION
longest = max(waiting_times) # SOLUTION
average = np.mean(waiting_times) # SOLUTION

print("Old Faithful erupts every", shortest, "to", longest, "minutes and every", average, "minutes on average.")

Old Faithful erupts every 43 to 96 minutes and every 70.8970588235 minutes on average.

# END SOLUTION

# BEGIN TESTS

In [152]:
# Hint: shortest is a number between 40 and 50.
40 <= shortest <= 50

True

In [153]:
# Hint: the average is between the shortest and the longest
shortest <= average <= longest

True

In [154]:
# HIDDEN
shortest == 43 and longest == 96

True

In [155]:
# HIDDEN
np.isclose(average, 70.8970588235)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q4_2
points:
 - 0
 - 0
 - 4

**Question 2.** Assign `biggest_increase` to the biggest increase in waiting time between two consecutive eruptions. For example, the second eruption occurred after 54 minutes and the third after 74 minutes, so the increase in waiting time was 74 - 54 = 20 minutes. **(4 Points)**

*Hint*: We want to return the biggest increase.

*Note*: `np.diff()` calculates the difference between subsequent values in an array. For example, calling `np.diff()` on the array `make_array(1, 8, 3, 5)` evaluates to `array([8 - 1, 3 - 8, 5 - 3])`, or `array([7, -5, 2])`.

# BEGIN SOLUTION

In [168]:
# np.diff() calculates the difference between subsequent values  
# in a NumPy array.
differences = np.diff(waiting_times)
biggest_increase = (max((differences))) # SOLUTION
biggest_increase

47

# END SOLUTION

# BEGIN TESTS

In [169]:
# Hint: If you are getting 47 as your answer, you might be computing the biggest change 
# rather than the biggest decrease!
biggest_increase == 47

True

In [170]:
# Hint: biggest decrease is above 30, but not 47.
30 <= biggest_increase < 49

True

In [171]:
# HIDDEN
biggest_increase

47

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q4_3
points:
 - 0
 - 4

**Question 3.** The `faithful_with_eruption_nums` table contains two columns: `eruption_number`, which represents the number of that eruption, and `waiting`, which represents the time spent waiting after that eruption. For example, take the first two rows of the table:

| eruption number | waiting |
|-----------------|---------|
| 1               | 79      |
| 2               | 54      |

We can read this as follows: after the first eruption, we waited 79 minutes for the second eruption. Then, after the second eruption, we waited 54 minutes for the third eruption.

Suppose Yuji and Megumi started watching Old Faithful at the start of the first eruption. Assume that they watch until the end of the seventh eruption. For some of that time they will be watching eruptions, and for the rest of the time they will be waiting for Old Faithful to erupt. How many minutes will they spend on average waiting between eruptions? **(4 Points)**

*Hint #1:* One way to approach this problem is to use the `take` or `where` method on the table `faithful_with_eruption_nums`. 

*Hint #2:* `first_six_waiting_times` must be an array.

# BEGIN SOLUTION

In [172]:
# The following two lines load in our faithful_with_eruption_nums table
faithful = Table.read_table('old_faithful.csv').drop("eruptions")
faithful_with_eruption_nums = faithful.with_column("eruption number", np.arange(faithful.num_rows) + 1).select(1, 0)

first_six_waiting_times = faithful_with_eruption_nums.where("eruption number", are.below(7)).column("waiting") # SOLUTION
total_waiting_time_until_seventh = np.average(first_six_waiting_times) # SOLUTION
total_waiting_time_until_seventh

68.166666666666671

# END SOLUTION

# BEGIN TESTS

In [173]:
len(first_six_waiting_times)

6

In [174]:
total_waiting_time_until_seventh

68.166666666666671

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q4_4
points:
 - 0
 - 4

**Question 4.** Let’s imagine your guess for the next waiting time was always just the length of the previous waiting time. If you always guessed the previous waiting time, how big would your error in guessing the waiting times be, on average? **(4 Points)**

For example, since the first four waiting times are 79, 54, 74, and 62, the average difference between your guess and the actual time for just the second, third, and fourth eruptions would be $\frac{|79-54|+ |54-74|+ |74-62|}{3} = 19$.

# BEGIN SOLUTION

In [175]:
differences = np.diff(waiting_times)
average_error = np.average(abs(differences)) # SOLUTION
average_error

20.520295202952031

# END SOLUTION

# BEGIN TESTS

In [176]:
15 <= average_error <= 25

True

In [177]:
# HIDDEN
np.isclose(average_error, 20.520295202952031)

True

# END TESTS

# END QUESTION

## 5. Tables

# BEGIN QUESTION
name: q5_1
points:
 - 4

**Question 1.** Create a table that illustrates that you have 12 bananas, 9 pineapples, and 6 peaches(Perhaps you're using Python to create a grocery list).  It should have two columns: `fruit` and `quantity`.  Assign the new table to the variable `grocery_fruits`. **(4 Points)**

*Note:* Use lower-case and singular words for the name of each fruit, like `"bananas"`.

# BEGIN SOLUTION

In [178]:
# Our solution uses 1 statement split over 3 lines.
grocery_fruits = Table().with_columns( #SOLUTION
        "fruit", make_array("banana", "pineapple", "peach"), #SOLUTION
        "quantity",      make_array(12,       9,        6)) #SOLUTION
grocery_fruits

fruit     | quantity
banana    | 12
pineapple | 9
peach     | 6

# END SOLUTION

# BEGIN TESTS

In [179]:
grocery_fruits.sort(0)

fruit     | quantity
banana    | 12
peach     | 6
pineapple | 9

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5_2
points:
 - 4

**Question 2.** The file `inventory.csv` contains information about the inventory of fruit at a grocery store.  Each row represents the contents of one box of fruit. Load it as a table named `fruit_inventory` using the `Table.read_table()` function. `Table.read_table(...)` takes one argument (data file name in string format) and returns a table. **(4 Points)**

# BEGIN SOLUTION

In [180]:
fruit_inventory = Table.read_table("inventory.csv") #SOLUTION
fruit_inventory

box ID | fruit name | count
53686  | kiwi       | 45
57181  | strawberry | 123
25274  | apple      | 20
48800  | orange     | 35
26187  | strawberry | 255
57930  | grape      | 517
52357  | strawberry | 102
43566  | peach      | 40

# END SOLUTION

# BEGIN TESTS

In [181]:
fruit_inventory.sort(0).column(0).item(0)

25274

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5_3
points:
 - 0
 - 4

**Question 3.** Does strawberry appear more than three times in the `fruit_inventory` table? Set `straw_three_times` to `True` if strawberry appear more than three times or to `False` if it does not. **(4 Points)**

*Hint:* You don't have to write code to calculate the True/False value for `straw_three_times`. Just look at the `fruit_inventory` table and assign `straw_three_times` to either `True` or `False` according to what you can see from the table in answering the question.

# BEGIN SOLUTION

In [182]:
straw_three_times = False #SOLUTION
straw_three_times

False

# END SOLUTION

# BEGIN TESTS

In [183]:
straw_three_times in {True, False}

True

In [184]:
# HIDDEN
straw_three_times == False

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5_4
points:
 - 5

**Question 4.** The file `sales.csv` contains the number of fruit sold from each box last Saturday.  It has an extra column called `price per fruit ($)` that's the price *per item of fruit* for fruit in that box.  The rows are in the same order as the `fruit_inventory` table.  Load these data into a table called `sales`. **(5 Points)**

# BEGIN SOLUTION

In [185]:
sales = Table.read_table("sales.csv") #SOLUTION
sales

box ID | fruit name | count sold | price per fruit ($)
53686  | kiwi       | 3          | 0.5
57181  | strawberry | 101        | 0.2
25274  | apple      | 0          | 0.8
48800  | orange     | 35         | 0.6
26187  | strawberry | 25         | 0.15
57930  | grape      | 355        | 0.06
52357  | strawberry | 102        | 0.25
43566  | peach      | 17         | 0.8

# END SOLUTION

# BEGIN TESTS

In [186]:
sales.sort(0)

box ID | fruit name | count sold | price per fruit ($)
25274  | apple      | 0          | 0.8
26187  | strawberry | 25         | 0.15
43566  | peach      | 17         | 0.8
48800  | orange     | 35         | 0.6
52357  | strawberry | 102        | 0.25
53686  | kiwi       | 3          | 0.5
57181  | strawberry | 101        | 0.2
57930  | grape      | 355        | 0.06

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5_5
points:
 - 0
 - 5

**Question 5.** How many strawberries did the store sell in total on that day? **(5 Points)**

# BEGIN SOLUTION

In [187]:
strawberry_sold = sum(sales.where("fruit name", "strawberry").column("count sold")) #SOLUTION
strawberry_sold

228

# END SOLUTION

# BEGIN TESTS

In [188]:
# We're asking for the number of strawberries, not the
# total number of fruit or the number of boxes from which
# there were sales.
strawberry_sold > 10

True

In [189]:
# HIDDEN
strawberry_sold

228

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5_6
points:
 - 0
 - 5

**Question 6.** What was the store's total strawberry revenue (the total price of all strawberries sold) on that day in DOLLARS? **(5 Points)**

*Hint:* If you're stuck, think first about how you computed strawberry sales in previous problem. How might you used that code to form new code here?

*Hint:* Round your answer to the nearest **dollar**.

# BEGIN SOLUTION

In [190]:
strw_total_revenue = (sum(sales.where("fruit name", "strawberry").column("count sold") * sales.where("fruit name", "strawberry").column("price per fruit ($)"))) #SOLUTION

strawberry_total_revenue = round(strw_total_revenue)
strawberry_total_revenue

49

# END SOLUTION

# BEGIN TESTS

In [191]:
# If you're stuck, here's a hint: You want to multiply the count
# sold in each box by the per-item price of fruits in that box.
# You can use elementwise multiplication for that.
# Then you want the sum of those products.  Use sum().
45 <= strawberry_total_revenue <= 75

True

In [192]:
# HIDDEN
np.isclose(strawberry_total_revenue, 49)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5_7
points:
 - 0
 - 2
 - 3

*Question 7.** Make a new table called `remaining_straw_inventory`.  It should have the same rows and columns as `fruit_inventory`, except that the amount of strawberries sold from each box should be subtracted from that strawberries box's **original** count, so that the `count` column is **updated to be** the amount of strawberries remaining after Saturday. **(5 Points)**

# BEGIN SOLUTION

In [193]:
remaining_straw_inventory = Table().with_columns( #SOLUTION
    "box ID", fruit_inventory.where("fruit name", "strawberry").column("box ID"), #SOLUTION
    "fruit name", fruit_inventory.where("fruit name", "strawberry").column("fruit name"), #SOLUTION
    "count", fruit_inventory.where("fruit name", "strawberry").column("count") - sales.where("fruit name", "strawberry").column("count sold")) #SOLUTION
remaining_straw_inventory

box ID | fruit name | count
57181  | strawberry | 22
26187  | strawberry | 230
52357  | strawberry | 0

# END SOLUTION

# BEGIN TESTS

In [194]:
# It looks like your table doesn't have all 3 columns that are
# in the inventory table.
remaining_straw_inventory.num_columns

3

In [195]:
#It looks like you forgot to subtract off the sales.
remaining_straw_inventory.column("count").item(0) != 45

True

In [196]:
remaining_straw_inventory.where(1, 'strawberry')

box ID | fruit name | count
57181  | strawberry | 22
26187  | strawberry | 230
52357  | strawberry | 0

# END TESTS

# END QUESTION

You're done with Homework 2!  

**Important submission steps:** 
1. Run the tests and verify that they all pass.
2. Choose **Save Notebook** from the **File** menu, then **run the final cell**. 
3. Click the link to download the zip file.
4. Then submit the zip file to the corresponding assignment according to your instructor's directions. 

**It is your responsibility to make sure your work is saved before running the last cell.**